.fixtures {
	margin-top: 50px;
}

h2 {
	width: 100%;
	text-align: center;
	padding: 5px 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	button {
		background: none;
		color: #3d3d3d;
		border: none;
		margin: 15px;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			font-size: 15px;
		}
	}
}
