.fixture {
	display: flex;
	width: 90%;
	align-items: center;
	border-bottom: 1px solid #b4b4b4;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 0px 14px -2px rgba(182, 182, 182, 1);
		background: linear-gradient(
			190deg,
			rgba(151, 60, 255, 1) 40%,
			rgba(255, 48, 250, 1)
		);
		color: #fff;
	}
}

.team,
.club-logo,
.score {
	display: inline-block;
}

.club-logo,
.score {
	text-align: center;
}

.team {
	width: 30%;
}

.home {
	text-align: right;
}

.away {
	text-align: left;
}
.club-logo {
	width: 10%;
}
.score {
	width: 20%;
}
