@import '../../../settings/scss/base';

.stat__info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #b9b9b9;
	&:last-child {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
	background: $table-bg-color;
	@include mobile {
		flex-wrap: wrap;
	}
	&-title {
		text-align: center;
		font-weight: bold;
	}
	.stat__info-box {
		display: flex;
	}

	.stat__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 10px;

		&-title {
			padding: 10px;
		}
	}
}
