@import './grid';
$title-background-color: #6656e8;
$base-box-shadow: 0px 0px 14px -2px #1d1d1d;
$table-bg-color: #f9f9f9;
$footer-header-color: linear-gradient(
	190deg,
	rgba(151, 60, 255, 1) 40%,
	rgba(255, 48, 250, 1)
);
