@import '../../settings/scss/base';
.nav-bar-section {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	color: white;
	background: $footer-header-color;
	padding: 20px;
	position: relative;
	margin: 0 auto;
	max-width: 1680px;
	.logo {
		font-family: 'Open Sans';
		font-weight: bold;
		color: white;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.fa-bars,
	.fa-times {
		cursor: pointer;
	}

	nav {
		width: 100%;
		height: calc(100vh - 120px);
		@include mobile {
			height: 300px;
			align-items: center;
		}
		display: flex;
		justify-content: center;
		position: absolute;
		top: 60px;
		left: 0;
		background: #3f3f3f;
		ul {
			flex-direction: column;
			justify-content: center;
			margin-top: 300px;
			@include mobile {
				margin-top: 0px;
			}
			li {
				display: flex;
				align-items: center;
				padding: 20px 0;
				a {
					color: white;
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 500;
				}
				a:hover {
					color: $buttons-hover-color;
				}
			}
		}
	}
	.hide {
		display: none;
	}

	.show {
		display: flex;
	}
}

// h6 {
// 	color: #973cff;
// 	color: #ff30fa;
// 	color: #b72ce8;
// 	color: #512ce8;
// 	color: #3040ff;
// }
