@import '../../settings/scss/base';
.standing {
	padding: 0 8px;
	margin-top: 8px;
	&-title {
		width: 100%;
		padding: 10px 0;
		color: #fff;
		background: $title-background-color;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom: 1px solid #b9b9b9;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		background: $table-bg-color;
		button {
			background: none;
			color: #3d3d3d;
			border: none;
			margin: 15px;
			cursor: pointer;
			transition: 0.3s;
			line-height: 15px;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.club {
	border: 1px solid #b9b9b9;
	border-top: none;
	display: flex;
	align-items: center;
	background: $table-bg-color;
	cursor: pointer;
	&:hover {
		box-shadow: $base-box-shadow;
		background: linear-gradient(
			190deg,
			rgba(151, 60, 255, 1) 40%,
			rgba(255, 48, 250, 1)
		);
		color: #fff;
	}
	&__rank,
	&__logo,
	&__name,
	&__games,
	&__goals,
	&__points {
		display: inline-block;
	}
	&__rank,
	&__games,
	&__goals,
	&__points {
		text-align: center;
	}
	&__rank {
		width: 10%;
	}
	&__logo {
		width: 15%;
	}
	&__name {
		width: 45%;
	}
	&__games {
		width: 10%;
	}
	&__goals {
		width: 10%;
	}
	&__points {
		width: 10%;
	}
}
