@import '../../settings/scss/base';
.top-scorers__container {
	@include mobile {
		order: 2;
	}
}
.scorers__title {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	background: $title-background-color;
	color: #fff;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	border-bottom: 1px solid #b9b9b9;
}

.see-all__buttons {
	width: 100%;
	text-align: center;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	font-size: 16px;
	background: $table-bg-color;
	transition: 0.3s;
	cursor: pointer;
	&:hover {
		button {
			font-weight: 500;
			transform: scale(1.1);
		}
	}
	button {
		background: none;
		color: #3d3d3d;
		border: none;
		margin: 15px;
		cursor: pointer;
		.fa-arrow-right {
			font-size: 11px;
		}
	}
}
